<title>RainFuryFall TwitchStream</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
    integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" href="/stylesheets/main.css">
<% if (user) { %>
<script src="https://zeptojs.com/zepto.min.js"></script>
<script src="/js/twitch.js"></script>
<script>
    sessionStorage.twitchOAuthToken = '<%= user.accessToken%>'
</script>
<% } %>

<!-- Notification library -->
<link href="/stylesheets/noty.css" rel="stylesheet">
<script src="/js/noty.min.js" type="text/javascript"></script>
<script src="/socket.io/socket.io.js"></script>
