
    <h1 class="content-subhead">
      <% if (stream) { %>
        <a href="/">&larr; Back</a>
        <br>
      <% } else{  %>
      Welcome, <%= user.data[0].display_name %> <img
        src="<%= user.data[0].profile_image_url %>" alt="" style="height:50px; position: absolute; top:25px;"></h1>
  <div class="pure-g">

    <div class="pure-u-1-3"></div>
  <div class="pure-u-1-3">
    <form class="pure-form">
      <input type="text" class="xlarge" id="search" placeholder="Search favorite Streamer" style="width:100%; text-align: center">

    </form>
  </div>
  <div class="pure-u-1-3"></div>
</div>
<% } %>
