* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-align: center;
}

.content, .watch-content {
    padding: 2em 1em 0;
}
#channels .pure-u-1-2{

}
.channel {
    padding: 1em;
    padding-bottom: 1.5em;
    height:100%;
}
.channel-card {
    background: #fff;
    padding: 0.5em;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height:100%;
    width:100%;
}

.channel-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.channel-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.channel-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.channel-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.channel-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .channel-category-design {
        background: #5aba59;
    }
    .channel-category-pure {
        background: #4d85d1;
    }
    .channel-category-yui {
        background: #8156a7;
    }
    .channel-category-js {
        background: #df2d4f;
    }

.channel-images {
    margin: 1em 0;
}
.channel-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    padding: 1em 0;
}
.footer a {
    color: #ccc;
    font-size: 80%;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (min-width: 48em) {
    , .watch-content.content {
        padding: 2em 3em 0;
    }
    .watch-content {
        padding: 2em 3em 0;
        margin-right: 25%;
    }

    .header {
        margin: 5% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        right:0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }
}

.button-success,
        .button-error,
        .button-warning,
        .button-twitch {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-twitch {
            background: #6441a4; /* this is a light blue */
        }
.xlarge {
    font-size: 125%;
}
