<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div id="layout" class="pure-g">


<div class="content pure-u-1 ">
  <div>
    <!-- A wrapper for all the blog channels -->
    <div class="channels">
      <% include ../partials/nav.ejs %>

      <!-- A single blog channel -->
      <div id="channels"  class="pure-g">

      </div>

    </div>


  </div>
</div>
</div>

</body>
</html>
