<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>


  <div class="pure-g">
    <div class="pure-u-1-3">

    </div>
    <div class="pure-u-1-3">

      <h2>Please Login In</h2>
      <a href="/auth/twitch" class="button-twitch pure-button">Login with Twitch</a>
    </div>
  </div>
  <div class="pure-u-1-3">

  </div>
</body>

</html>
