<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div id="layout" class="pure-g">

<div class="watch-content pure-u-1 pure-u-md-3-4">
  <div>
    <!-- A wrapper for all the blog channels -->
    <div class="channels">
      <% include ../partials/nav.ejs %>
      <iframe src="https://player.twitch.tv/?channel=<%= stream.name %>" height="720" width="100%"
        frameborder="<frameborder>" scrolling="false" allowfullscreen="true">
      </iframe>
    </div>
    <form class="pure-form" id="chat-form">
      <h3>Live updates</h3>
      <div class="pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
          <label for="chat-room-one" class="pure-checkbox">
            <input id="chat-room-one" name="<%=stream.user_id%>.follows" type="checkbox" checked>
            Streamer Follows
          </label>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
          <label for="chat-room-two" class="pure-radio">
            <input id="chat-room-two" name="<%=stream.user_id%>.streams" type="checkbox" checked  >
            Stream changes
          </label>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
          <label for="chat-room-three" class="pure-radio">
            <input id="chat-room-three" name="<%=stream.user_id%>.users" type="checkbox" checked>
            User changes
          </label>
        </div>
      </div>
    </form>
    <script>
      // Inline JS to communicate with WS
      $(function(){

        var socket = io.connect('https://rff-twitch-stream.herokuapp.com/');
        socket.on('event', function (data) {
          console.log(data)
          new Noty({
            themeName: 'nest',
            text: `<b>Event</b><br> ${data.message}`,
            type: 'success',
            timeout: 2500
          }).show();
        });

        socket.emit('subscribe', { user_id: '<%=stream.user_id%>' });

        $('#chat-form input').on('change',function(e){
          let t = $(this);
          if(t.prop("checked")){
            socket.emit('join', { room: t.attr('name') });
          }else{
            socket.emit('leave', { room: t.attr('name') });
          }
        })

      })

    </script>

  </div>
<div class="sidebar pure-u-1 pure-u-md-1-4">
    <iframe frameborder="0" scrolling="no" id="chat_embed" src="https://www.twitch.tv/embed/<%= stream.name %>/chat" height="100%"
      width="100%">
    </iframe>

</div>
</div>
</div>

</body>
</html>
